body{
    text-align: center;
}
.LINE{
    height:6px;
    background-color: black;
    width:80px;
    margin:8px auto;
    text-align: center;
}
.my hobbies{
    text-decoration-color: aqua;
}
.about{
    text-decoration-color: aqua;
}
.favourite author{
    text-decoration-color: aqua;
}
.jk website{
    text-decoration-color: blue;
}
reading books{
    text-decoration-color: blue;
}

        